<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mall.Mapper.MemberMapper">
    <select id="findAll" parameterType="com.mall.entity.Member" resultType="com.mall.entity.Member">
        select *
        from member
        where status=0;
    </select>

    <select id="find_all" parameterType="com.mall.entity.Member" resultType="com.mall.entity.Member">
        select *
        from member
        where member_name=#{member_name} and member_password=#{member_password}
    </select>

    <insert id="addMember" parameterType="com.mall.entity.Member">
        insert into
        member
        (`member_id`,`member_name`,`member_phone`,`member_password`,`sex`,
        `set_time`,`role_id`,`company_id`,`status` )
        VALUES
        (#{member_id},#{member_name},#{member_phone},#{member_password},#{sex}
        ,#{set_time},#{role_id},#{company_id},#{status})
    </insert>

    <update id="deleteMember" parameterType="com.mall.entity.Member">
        update
            member
        set status=1
        where member_id=#{member_id}
    </update>

    <update id="updateMember" parameterType="com.mall.entity.Member">
        update
            member
        set
            member_id=#{member_id}
            member_phone=#{member_phone}
            sex=#{sex}
            set_time=#{set_time}
            role_id=#{role_id}
            company_id=#{company_id}
        where  member_name=#{member_name} and member_password=#{member_password}
    </update>

</mapper>